language: java
sudo: true
dist: trusty
jdk: oraclejdk11

services:
- postgresql




addons:
  sonarcloud:
    organization: "maxiplux-github" # the key of the org you chose at step #3
    token:
      secure: $SONAR_KEY # encrypted value of your token

  hosts:
  - postgres
  apt:
    packages:
    - oracle-java12-installer
before_install:
- chmod a+x ./mvnw

deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app: apipostgress

script:
#- ./mvnv verify -B
#- ./mvnw  verify
- ./mvnw clean verify install -B
- sonar-scanner
#mvn sonar:sonar   -Dsonar.projectKey=maxiplux_apipostgress   -Dsonar.organization=maxiplux-github   -Dsonar.host.url=https://sonarcloud.io   -Dsonar.login=b7cc5e383086fedd5b328a68e293a7c28d5bce1e

#sudo: required
#services:
#- docker

